@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

body {
    min-height: 100dvh;
    background-color: black;
    color: white;
    font-family: "Cascadia Code";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#header-menu {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 32px;
    display: none;
}

header {
    position: fixed;
    top: 0;
    z-index: 100000;
    background-color: #0f0f0f;
    width: 100%;
    display: flex;
    justify-content: center;
}

#header-nav-border {
    margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.header-nav {
    color: oklch(62.3% 0.214 259.815) ;
    margin-left: 40px;
    text-decoration: none;
    width: 100%;
}

.white {
    color: white;
}

.blue {
    color: oklch(54.6% 0.245 262.881);
}

@media (max-width: 400px) {
    nav {
        display: none;
        text-align: start;
    }

    .exibir {
        display: block;
    }

    .header-nav {
        display: block;
        margin-bottom: 16px;
    }

    #header-nav-border {
        margin-bottom: 16px;
        margin-left: 40px;
    }

    #header-menu {
        display: block;
        margin-left: 1.2rem;
    }

    header {
        display: block;
    }
}