h1 {
    display: flex;
    font-size: 40px;
}

#conteiner {
  text-align: start;
  width: 320px;
}

#user-description {
    color: #a5a5a5;
}

.cursor {
  margin-left: 4px;
  animation: blink 0.7s infinite;
}

/* animação do cursor */
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}