h1 {
    display: flex;
    font-size: 40px;
}

#conteiner {
  text-align: start;
  width: 320px;
}

.white {
    color: white;
}

.blue {
    color: oklch(54.6% 0.245 262.881);
}

#user-description {
    color: #a5a5a5;
}