ul {
    list-style: none;
    text-align: start;
}

li {
    opacity: 0.8;
    line-height: 1.5;
    margin-bottom: 4px;
}

.skills-div-title {
    font-size: 24px;
    margin-bottom: 1rem;
    opacity: 1;
}

#skills-box {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

#skills-box div {
    flex: 1 1 280px;
}

@media (max-width: 760px) {
    #skills-box {
        flex-direction: column;
    }

    body {
        margin-top: 80px;
    }
}