ul {
    list-style: none;
    text-align: start;
}

li {
    margin-top: 0.4rem;
}

.skills-div-title {
    font-size: 20px;
}

#skills-box {
    display: flex;
    align-content:start;
}

#skills-box div {
    max-width: 300px;
}